.header{
    height:10%;
    background-color:#333;
}

.bg-grad-hike{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 48%, #5bc0de 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(48%,#2989d8), color-stop(100%,#5bc0de)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 48%,#5bc0de 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1e5799 0%,#2989d8 48%,#5bc0de 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1e5799 0%,#2989d8 48%,#5bc0de 100%); /* IE10+ */
    background: linear-gradient(to right,  #1e5799 0%,#2989d8 48%,#5bc0de 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#5bc0de',GradientType=1 ); /* IE6-9 */

}

.bg-grad-info{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e5799 0%, #428bca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(100%,#428bca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1e5799 0%,#428bca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1e5799 0%,#428bca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1e5799 0%,#428bca 100%); /* IE10+ */
    background: linear-gradient(to right,  #1e5799 0%,#428bca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#428bca',GradientType=1 ); /* IE6-9 */
 
}

.bg-grad-nature{
    background: #488e47; /* Old browsers */
    background: -moz-linear-gradient(left,  #488e47 0%, #5cb85c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#488e47), color-stop(100%,#5cb85c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #488e47 0%,#5cb85c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #488e47 0%,#5cb85c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #488e47 0%,#5cb85c 100%); /* IE10+ */
    background: linear-gradient(to right,  #488e47 0%,#5cb85c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#488e47', endColorstr='#5cb85c',GradientType=1 ); /* IE6-9 */

}

.colored-stars{
    color:#eada00;
}

.padder{
    padding:15px;
}

.no-margin-top{
    margin-top:0;
    padding:0;
}

.numbers-row{
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(left,  #cb60b3 0%, #c146a1 21%, #a80077 51%, #db36a4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cb60b3), color-stop(21%,#c146a1), color-stop(51%,#a80077), color-stop(100%,#db36a4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #cb60b3 0%,#c146a1 21%,#a80077 51%,#db36a4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #cb60b3 0%,#c146a1 21%,#a80077 51%,#db36a4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #cb60b3 0%,#c146a1 21%,#a80077 51%,#db36a4 100%); /* IE10+ */
    background: linear-gradient(to right,  #cb60b3 0%,#c146a1 21%,#a80077 51%,#db36a4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=1 ); /* IE6-9 */
    border:1px solid white;
    height:18.7%;

}

.numbers-row-1{
    background-color:#6B0B4C;
    height:100%;
}

.span-major{
    height:30%;
    background: white; /* Old browsers */
}

.span-minor{
    height:20%;
}

.height-maxed{
    height:100%;
    padding:0;

}

.lower-right {
	bottom: 0%;
	right: 0%;
	position: absolute;
}

.slight-margin-top{
    float:right;
    margin-top:10px;
}

.no-border{
    border:0;
}

@media (max-width: 3000px) and (min-width: 600px) {
    .exagerated-font{
        font-size:28px;
        margin-top:0;
    }
    
    .more-exagerated-font{
        font-size:56px;
    }
    
    .reduced-font{
        font-size:20px;
        color:#666;
    }
    .bigger-title{
        font-size:30px
    }
    
    .margined-top{
        margin-top:5%;
    }
    
    .get-indications{
        font-size:26px;
        background: #a90329; /* Old browsers */
        background: -moz-linear-gradient(left,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
        background: linear-gradient(to right,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */

    }
    
    .reduced-img-icon{
        width:100%;
    }
    
    .path-sized-img{
        width:100%;
        height:7.5em;
    }
    
    .path-sized-img-reduced{
        width:100%;
        height:5em;
    }


}

@media (max-width: 599px) and (min-width: 100px) {
    .exagerated-font{
        font-size:15px;
        margin-top:0.5%;
    }
    
    .more-exagerated-font{
        font-size:20px;
    }
    
    .reduced-font{
        font-size:13px;
        color:#666;
    }
    
    .bigger-title{
        font-size:18px;
    }
    
    .get-indications{
        font-size:20px;
        background: #a90329; /* Old browsers */
        background: -moz-linear-gradient(left,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
        background: linear-gradient(to right,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */

    }
    
    .reduced-img-icon{

        width:100%;
    }
    
    .path-sized-img{
        width:100%;
        height:7.0em;
    }
    
    .path-sized-img-reduced{
        width:100%;
        height:5.7em;
    }

    
}

@media (max-width: 3000px) and (min-width: 600px) {
    .less-exagerated-font{
        font-size:26px;

    }
    
    .less-more-exagerated-font{
        font-size:40px;
    }
    
    .path-detail-head{
        font-size:20px;
        text-align:right;
        font-weight:bold;
        color:#333;
        border:0;
    }
    
    .path-detail{
        font-size:20px;
        color:#333;
        border:0;
    }
    
    .typography-font{
        font-size:18px;
    }
    
}

@media (max-width: 599px) and (min-width: 100px) {
    .less-exagerated-font{
        font-size:12px;

    }
    
    .less-more-exagerated-font{
        font-size:10px;
    }
    
    .path-detail-head{
        font-size:14px;
        text-align:right;
        font-weight:bold;
        color:#333;
        border:0;
    }
    
    .path-detail{
        font-size:14px;
        color:#333;
        border:0;
    }
    
    .typography-font{
        font-size:14px;
    }
    
}

.blackened-link{
    color:#333;
}
.whitened-link{
    color:#fff;
}

.chevrons-gallery{
    margin-top:40%:
}

.header{
	color:white;
	background-color:#333;
	height:auto;
	font-size:2em;

}

.customized-row{
	padding:4px;
}

.row-hike{
    color: #5bc0de;
    
}

.blocker{
	color:white;
	padding:1.5%;
	font-weight:bold;
	font-size:24px;
	border:4px solid black;
}

.info-block{
    color:#428bca;
    height:100%;
}

.history-block{
    color:#f0ad4e;
	height:100%;
}
.nature-block{
    color:#5cb85c;
	height:100%;
}
.compass-block{
    color:#bdbb05;
	height:100%;
}
.numbers-block{
    color:#d9534f;
	height:100%;
}
.news-block{
	color:#131313;
    height:100%;
}

.detail-jumbotron{
    border-radius:10px;
    border:1px solid #a51000;
}

.reduced-width{
    width:30%;
}
.maxed-width{
    width:100%;
}

.colored-chevrons{
    color:#666
}